/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
}

/* Containers */

.app {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.sidebar {
    padding: 30px;
    max-width: 250px;
    min-width: 200px;
    display:flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    background-color:rgb(209, 226, 224); 
}

.results {
    padding: 30px;
    flex: 1;
    border-radius: 10px;
    background-color:rgb(209, 226, 224); 
    min-height: 400px;
}

.recipe-card {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* Titles */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

#ingredients-title{
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 20px;
}

/* Buttons */
#ingredient-submit {
  padding: 5px 10px;
  font-size: 13px;
  background-color:cadetblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#ingredient-submit:hover {
  background-color: cadetblue;
  transform: translateY(-2px);
}

#submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:cornflowerblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: cornflowerblue;
  transform: translateY(-2px);
}

.remove-btn {
  background-color: cadetblue;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 5px 5px;
  margin: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.remove-btn:hover {
  background-color: #b13d3d;
  transform: translateY(-2px);
}

/* Error message */
#error-message {
  transition: opacity 0.5s ease;
  color: blue;
  font-size: 12px;
  font-style:italic;
}

/* Editing and saving */

.edit-input {
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.save-btn,
.edit-btn {
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  margin-left: 5px;
  cursor: pointer;
}

.edit-error {
  color: blue;
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}


